body {
    background-color: rgba(81, 81, 151, 0.979);
}
main {
    text-align: center;
    color: rgb(240, 230, 230);
    margin: 60px;
}
* {
    font-family:sans-serif;
}
header {
    width:100%;
    background-color: rgb(221, 212, 212);
    color: rgba(81, 81, 151, 0.979);

    a:link {
        color: rgba(81, 81, 151, 0.979);
    }
    a:visited {
        color: rgba(81, 81, 151, 0.979);
    }
}
footer {
    width:100%;
    background-color: rgb(221, 212, 212);
    color: rgba(81, 81, 151, 0.979);;
    padding: 5px;
    a:link {
        color: blue;
    }
    a:visited {
        color: blue;
    }
}
a {
    text-decoration: none;   
}
input[type="login"] {
    height: 40px;
    font-size: 25px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type="password"] {
    height: 40px;
    font-size: 25px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;     
}
h1 {
    font-size: 45
}
h2 {
    font-size: 40
}
.btn {
    margin: 10px;
    padding: 12px 50px;
    background-color: gray; /* Blue background */
    color: black;
    border: none;
    border-color: black;
    border-radius: 10px;
    text-decoration: none; /* Remove underline from links */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;                        
}
ul {
    padding: 0;
    margin: 0;
}
li {
    display:inline;
    margin-right: 10px;
}
.header-container {
    margin: 10px;
}

