@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

* {
    font-family:'Outfit';
    /* outline: 1px solid red; */
}
body {
    width: 100%;
    overflow-x: hidden;
}
header {
    width:100%;
    background-color: rgb(221, 212, 212);
    color: rgba(81, 81, 151, 0.979);

    a:link {
        color: rgba(81, 81, 151, 0.979);
    }
    a:visited {
        color: rgba(81, 81, 151, 0.979);
    }
}
footer {
    width:100%;
    background-color: rgb(221, 212, 212);
    color: rgba(81, 81, 151, 0.979);;
    padding: 10px;
    a:link {
        color: blue;
    }
    a:visited {
        color: blue;
    }
}
a {
    text-decoration: none;   
}
menu a:hover {
    color: purple;
    font-weight: bold;
}
menu a.active {
    color: purple;
    font-weight: bold;
}
h1 {
    font-size: 45
}
h2 {
    font-size: 40
}
menu {
    padding: 0;
    margin-top: 0px;
}
.nav-item {
    display: inline;
    margin-right: 5px;
    font-size: 15px;
}
.header-container {
    margin: 0px !important;
}
.link-container {
    text-align: right;
    margin-right: 30px;
    top: -50px;
    display: flex;
    flex-direction: row;
}
.github {
    margin-right: 10px;
    position: relative;
}
.name {
    font-size:20;
    margin-left: 10px;
    font-weight: bold;
    display:inline;
}
.author {
    margin-right: 20px;
}
@media (max-height: 500px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
}
@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

