* {
    font-family:sans-serif;
    /* outline: 1px solid red; */
}
body {
    width: 100%;
    overflow-x: hidden;
}
header {
    width:100%;
    background-color: rgb(221, 212, 212);
    color: rgba(81, 81, 151, 0.979);

    a:link {
        color: rgba(81, 81, 151, 0.979);
    }
    a:visited {
        color: rgba(81, 81, 151, 0.979);
    }
}
footer {
    width:100%;
    background-color: rgb(221, 212, 212);
    color: rgba(81, 81, 151, 0.979);;
    padding: 5px;
    a:link {
        color: blue;
    }
    a:visited {
        color: blue;
    }
}
a {
    text-decoration: none;   
}
h1 {
    font-size: 45
}
h2 {
    font-size: 40
}
menu {
    padding: 0;
    margin-top: 0px;
}
.nav-item {
    display: inline;
    margin-right: 10px;
}
.header-container {
    margin: 10px;
}
.link-container {
    text-align: right;
    margin-right: 30px;
}
.github {
    top: -19px;
    position: relative;
}
.name {
    font-size:20;
    font-weight: bold;
    display:inline;
}


