body {
    background-color: rgba(44, 44, 82, 0.979); 
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 40px;
    margin: 20px;
}
input[type="login"] {
    font-size: 20px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 20px;
}
input[type="password"] {
    font-size: 20px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;     
}
.btn {
    margin: 10px;
    padding: 12px 50px;
    background-color: gray; 
    color: black;
    border: none;
    border-color: black;
    border-radius: 10px;
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;   
    font-weight: bold;                
    box-shadow: 3px 22px 22px 1px rgba(0, 0, 0, 0.24);     
}
.btn:hover {
    background-color: rgba(128, 128, 128, 0.509);
    transition: all 0.3s ease;
}
.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.button-container {
    margin: 100px;
}
.welcome-container {
    text-align: center;
    position: relative;
    top: 40px;
}