body {
    background-color: rgba(44, 44, 82, 0.979); 
}
.welcome-message {
    font-size: 50px;
    margin-top: 200px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    margin: 20px;
}
.login-input {
    font-size: 20px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    width: 350px;
}
input[type="password"] {
    font-size: 20px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    width: 350px;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
#create-account-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.btn {
    margin: 10px;
    padding: 12px 50px;
    background-color: gray; 
    color: black;
    border: none;
    border-color: black;
    border-radius: 10px;
    text-decoration: none; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;   
    font-weight: bold;                
    box-shadow: 3px 22px 22px 1px rgba(0, 0, 0, 0.24);     
}
.btn:hover {
    background-color: rgba(128, 128, 128, 0.509);
    transition: all 0.3s ease;
}
.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.button-container {
    margin: 100px;
}
.welcome-container {
    text-align: center;
    position: relative;
    top: 40px;
}
.login-error {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-top: 6px;
}

@media (orientation: portrait) {
    .welcome-message {
        font-size: 30px;
        margin-top: 100px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 20px;
        margin: 10px;
    }
    .login-input {
        font-size: 15px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 10px;
        width: 200px;
    }
    input[type="password"] {
        font-size: 15px;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        margin: 10px;
        width: 200px;
    }
    .btn {
        padding: 10px 30px;
        margin: 5px;
    }
}