body {
    background-color: rgba(44, 44, 82, 0.979);
}
.main {
    color: rgb(240, 230, 230);
    margin: 60px;
}
.item-btn {
    margin: 32px;
    margin-left: 80px;
    padding: 12px 75px;
    background-color: gray;
    color: black;
    border: none;
    border-color: black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;   
    font-weight: bold;        
    box-shadow: 3px 22px 22px 1px rgba(0, 0, 0, 0.24);             
}
.item-btn:hover {
    background-color: rgba(128, 128, 128, 0.509);
    color: rgb(240, 230, 230);
}
.item-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.list-container {
    width: 400px;
    height: 350px;
    margin-left: 25px;
    margin-right: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.title {
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(188, 187, 187);
    display: block;
}
.title-label {
    font-size: 25px;
    text-align: center;
}
.save-share {
    display: flex;
    gap: 10px;
}
.save-share a { 
    color: rgb(240, 230, 230);
}
.save-share:hover {
    color: rgb(186, 174, 174);
}
.ranked-list {
    margin-left: 50px;
    cursor: pointer;
}
.ranked-item {
    margin-top: 15px;
}
input[type="text"] {
    font-size: 20px;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: rgba(41, 41, 75, 0.979);
    color: rgb(240, 230, 230);
    box-shadow: 3px 22px 22px 1px rgba(0, 0, 0, 0.24);
}
input[type="text"]:hover {
    border-color: #daf511; 
    cursor: pointer;
}
ol li {
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.column {
    padding: 10px;
    flex: 1;
}
.user-info {
    font-size: 25px;
    color: rgb(240, 230, 230);
    display: flex;
}
.drop-down {
    margin-top: 40px;
    margin-left: 85px;
}
.drop-down-box {
    background-color: gray;
    font-size: 20px;
}
.tier-list {
    margin-top: -10px;
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
    background-color: rgba(44, 44, 82, 0.112);
    border: 1px solid black;
    box-shadow: 3px 22px 22px 1px rgba(0, 0, 0, 0.24);   
}
.table-container {
    padding: 10px;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: auto;
}
th, td {
    white-space: nowrap;
}
.s-tier {
    background-color: red;
    width: 100px;
}
.a-tier {
    background-color: orange;
}
.b-tier {
    background-color: yellow;
}
.c-tier {
    background-color: rgb(30, 210, 30);
}
.d-tier {
    background-color: rgb(59, 59, 233);
}
tr {
    width: 600px;
    border: 1px solid black;
}
.row {
    width: 500px;
    height: 115px;
}
.item-bank {
    width: 600px;
    height: 350;
    margin-right: 100px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 3px 22px 22px 1px rgba(0, 0, 0, 0.24);
}
.tier-list {
    margin-right: 50px;
}
.list-item {
    margin: 5px;
    display: inline;
}
.bank-list {
    list-style-type: none;
}
.rank-info {
    display: flex;
    align-items: center;   /* vertical alignment */
    gap: 20px;             /* space between red boxes */
}
.rank-info div {
    display: inline;
}
.title-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media(max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .rank-info {
        flex-direction: column;
    }
}