body {
    background-color: rgba(44, 44, 82, 0.979);
}
.main {
    color: rgb(240, 230, 230);
    font-size: 20px;
    /* min-height: 100vh; */
    text-align: right;
    display: inline-block;
}
.about {
    margin-left: 50px;
    margin-right: 40px;
    margin: 40px;
    text-align: left;
    flex: 1;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.container div{
    margin: 10px;
}
.image {
    flex: 1;
}
@media(max-width: 900px) {
    .container {
        flex-direction: column;
    }
}
@media (orientation: portrait) {
    .about-text {
        font-size: 14px;
    }
    /* .image {
        display: none;
    } */
    .about {
        /* margin: 10px; */
        width: 100%;
    }
    .main {
        text-align: center;
        margin: none;
    }
    .container {
        margin: none;
        align-items: center;
    }
    .container div {
        margin: none;
    }
}